# Build könyvtárak
build/
cmake-build-*/
out/

# CMake melléktermékek
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/
compile_commands.json
*.ninja
.ninja_deps
.ninja_log

# Fordítási eredmények
*.exe
*.obj
*.o
*.lib
*.a
*.dll
*.so
*.dylib
*.pdb
*.ilk
*.exp

# IDE
.idea/
.vs/
.vscode/
*.user

# Dear ImGui elrendezés (a Gui::init kikapcsolja, de biztos ami biztos)
imgui.ini
